<div>
        <div class="modal-header" style="color:black;">
            <h3 class="modal-title">{{task.name}} by {{task.user.email}}</h3>
        </div>
        <div class="modal-body" style="color:black;">
            <ul>
{{task.description}}
            </ul>
        </div>
        <div class="modal-footer" style="color:black;">
            {{task.assignee.email}}
            <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</div>