<div class="container" ng-show="visible">
    {{tasks}}
    <div class="row">
        <div class="col-md-4 newTask">
            <button type="submit" class="btn btn-default" ng-click="newTask()">Create new task</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Unactive Tasks</h2>

            <div dragula='"bag-one"' class="tasksContainer" id="unactive">
                <div class="row" style="margin:10px;" ng-repeat="task in tasks | filter:{ status: 'unactive'}:true">
                    <div class="row taskContainer" id="{{task.id}}" >
                        <div>{{task.name}}</div>
                        <!--<div ng-click="openTask(task.id)">{{task.description}}</div>-->
                        <div class="userThumb"><i class="fa fa-users">{{task.assignee.email}}</i>{{task.assignee.name}} <i
                                class="fa fa-search-plus" ng-click="seeTask(task)"></i><i class="fa fa-pencil-square-o" ng-click="editTask(task)"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <h2>Active Tasks</h2>

            <div dragula='"bag-one"' class="tasksContainer" id="active">
                <div class="row" style="margin:10px;" ng-repeat="task in tasks | filter:{ status: 'active'}:true">
                    <div class="row taskContainer" id="{{task.id}}" >
                        <div>{{task.name}}</div>
                        <!--<div ng-click="openTask(task.id)">{{task.description}}</div>-->
                        <div class="userThumb"><i class="fa fa-users">{{task.assignee.email}}</i>{{task.assignee.name}} <i
                                class="fa fa-search-plus" ng-click="seeTask(task)"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Finished Tasks</h2>

            <div dragula='"bag-one"' class="tasksContainer" id="finished">
                <div class="row" style="margin:10px;" ng-repeat="task in tasks | filter:{ status: 'finished'}:true">
                    <div class="row taskContainer" id="{{task.id}}" >
                        <div>{{task.name}}</div>
                        <!--<div ng-click="openTask(task.id)">{{task.description}}</div>-->
                        <div class="userThumb"><i class="fa fa-users">{{task.assignee.email}}</i>{{task.assignee.name}} <i
                                class="fa fa-search-plus" ng-click="seeTask(task)"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>