<div class="container" ng-show="visible">
    <form ng-submit="addTask(task, assignee)" class="taskForm">
        <div class="form-group">
            <label for="taskName">Task name</label>
            <input type="text" class="form-control taskInput" id="taskName" placeholder="Enter Task name" ng-model="task.name">
        </div>
        <div class="form-group">
            <label for="taskDescription">Task description</label>
            <input type="text" class="form-control taskInput" id="taskDescription" placeholder="Enter Task description"
                   ng-model="task.description">
        </div>

        <div class="form-group">
            <label for="Assignee">Assignee</label>
            <!--<autocomplete ng-model="assignee" data="assignees" attr-input-class="form-control" attr-input-id="Assignee"-->
            <!--attr-placeholder="Enter Assignee"></autocomplete>-->
            <select chosen ng-model="assignee" id="chosen-select"  ng-options="user.email for user in users">
                <option value="" style="width:200px;"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<script>
$('#chosen-select').chosen();
$('#chosen_select_chosen').css('width','40%');
</script>
