/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "ng-app/main";
@import "ng-app/globals";
@import "ng-app/dashboard";
@import "ng-app/style";
@import "font-awesome";
@import "chosen.min.css";
@import "angular-dragula/dist/dragula.min";
@font-face {
  font-family: 'FontAwesome';
  src: url(font-path('fontawesome-webfont.eot'));
  src: url(font-path('fontawesome-webfont.eot?#iefix')) format('embedded-opentype'),
  url(font-path('fontawesome-webfont.woff')) format('woff'),
  url(font-path('fontawesome-webfont.ttf')) format('truetype'),
  url(font-path('fontawesome-webfont.svg#fontawesomeregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}