<div class="login-page">
    <form role="form" class="login-form" ng-submit="submit()" >
        <div class="table-form">
            <div class="form-groups">
                <div class="form-group"><input ng-model="email" type="text" class="form-control input-lg" placeholder="EMAIL" name="email">
                </div>
                <div class="form-group"><input ng-model="password "type="password" class="form-control input-lg" placeholder="PASSWORD">
                </div>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-default login"> <i class="fa fa-sign-in"></i>
                </button>
            </div>
        </div>
        <div class="remember"><label class="checkbox1" for="Option">
            <input id="Option" type="checkbox"> <span></span> </label> remember me <span
                class="pass"> forgot password?</span>
        </div>
    </form>
</div>