<div id="navigation" ng-controller="NavbarCtrl"  ng-show="authorized">
    <ul>
        <li><a href="/dashboard">dashboard</a></li>
        <li><a href="/">Main</a></li>
        <li><a href="/logout" ng-click="logOut()">Log Out</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/task">New task</a></li>

    </ul>
</div>