body {
  background-color: #1abc9c;
  color: white;
}


#layout {
  position: absolute;
  left: 250px;
}


a {
  color: #fff;
}

div.col-sm-3.dashboard-navigation > ul > li > a:hover {
  background-color: #18aa8d;
  text-decoration: none;
  color: #fff;
}

@media (min-width: 767px) {
  #navigation {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    width: 180px;
    //left: 40px;
    background-color: #18aa8d;

    a {
      color: #fff;
    }
    a:hover {
      background-color: #18aa8d;
      text-decoration: none;
      color: #fff;
    }
    ul {
      margin-top: 20px;
    }
  }
}

.container {
  background-color: #1abc9c;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 240px;
  padding-right: 10%;
}

//transform: translate3d(266px, 0px, 0px);
#dashboard.ng-hide {
  transform: translate3d(-100px, 0px, 0px);
}

.login-page {
  //#Option{
  //  -webkit-appearance: none;    background-color: #fafafa;
  //  border: 1px solid #cacece;
  //  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  //  padding: 9px;
  //  border-radius: 3px;
  //  display: inline-block;
  //  position: relative;
  //}
  .login-form {
    .table-form {
      margin: 0 auto;
      display: table;
      .form-groups {
        display: table;
        .form-group {
          display: table;
        }
      }
    }
    input {

      background: #18af91;
      border-color: #18af91;
      box-shadow: none;
      color: #fff;
      font-weight: 600;
      width: auto;
      border-radius: 0px;

    }
    .button-container {
      display: table-cell;
      button {
        margin-top: 61%;
        font-size: 40px;
        margin-left: 48%;
        height: 110px;
        width: 100px;
        border-radius: 0;
        background: orange;
        border-color: orange;
        box-shadow: none;
        color: #fff;
      }
    }
    .remember {
      margin-left: 43%;

    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color: #fff;
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
      color: #fff;
    }
    input::-moz-placeholder, textarea::-moz-placeholder {
      color: #fff;
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
      color: #fff;
    }
  }
}
#chosen-select {
  color: #000000;
}
.chosen-search input[type="text"]{
  color: #000;
}

.newTask {
  button {
    //margin-top: 61%;
    //font-size: 40px;
    //margin-left: 48%;
    //height: 110px;
    //width: 100px;
    border-radius: 0;
    background: orange;
    border-color: orange;
    box-shadow: none;
    color: #fff;
  }
  button:hover {
    //margin-top: 61%;
    //font-size: 40px;
    //margin-left: 48%;
    //height: 110px;
    //width: 100px;
    border-radius: 0;
    background: orange;
    border-color: orange;
    box-shadow: none;
    color: #fff;
  }
  button:focus {
    //margin-top: 61%;
    //font-size: 40px;
    //margin-left: 48%;
    //height: 110px;
    //width: 100px;
    border-radius: 0;
    background: orange;
    border-color: orange;
    box-shadow: none;
    color: #fff;
  }
  button:active {
    //margin-top: 61%;
    //font-size: 40px;
    //margin-left: 48%;
    //height: 110px;
    //width: 100px;
    border-radius: 0;
    background: orange;
    border-color: orange;
    box-shadow: none;
    color: #fff;
  }
}

.taskContainer{
  border-bottom: 1px solid;
  border-color: #c0392b;
  text-align:center;
  margin-right:100px;
  margin-top: 15px;
}
.userThumb{
  float:right;
  color: #ecf0f1;
}
.tasksContainer {
  min-height: 100px;
  min-width: 200px;
}
.taskForm {

}

.taskForm {
  input {

    background: #18af91;
    border-color: #18af91;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    width: 50%;
    border-radius: 0px;

  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #fff;
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #fff;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #fff;
  }
  button {
    border-radius: 0;
    background: orange;
    border-color: orange;
    box-shadow: none;
    color: #fff;
  }
}
