<!DOCTYPE html>
<html>
<head>
  <title>Zbieracz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="zbieracz">

<%= yield %>

</body>
</html>
